<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JS For Work</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../moonlight front page/style.css">
</head>
<body>
    <header>
        <a href="../moonlight front page/index.html" class="logo"><img src="../main logo/mail logo.png" ></a>
        <ul>
            <li><a href="../moonlight front page/index.html">home</a></li>
            <li><a href="index.html" class="active">JS For Work</a></li>
            <li><a href="../circle glass card/index.html">JS For Fun</a></li>
        </ul>
    </header>
    <div class="container" style="margin-top: 80px;">
        <div class="card" style="background: url(logos/voice.png); background-size: 100% 100%;background-size: cover;">
            <div class="content">
                <h2>01</h2>
                <h3>VOICE CONVERTOR</h3>
                <a href="../../JavaScript For Work/covert text to voice/converting-from-speech-to-text-with-javascript/index.html">VIEW</a>
            </div>
        </div>
        <div class="card" style="background-image: url(logos/trans.png); background-size: 100% 100%;">
            <div class="content">
                <h2>02</h2>
                <h3>TRANSLATION APP</h3>
                <a href="../../JavaScript For Work/Trans/Trans/trans.html">VIEW</a>
            </div>
        </div>
        <div class="card" style="background-image: url(logos/gg.png); background-size: 100% 100%;">
            <div class="content">
                <h2>03</h2>
                <h3>GRADIENT GENERATOR</h3>
                <a href="../../JavaScript For Work/gg/Gradient Generator/index.html">VIEW</a>
            </div>
        </div>
        <div class="card" style="background-image: url(logos/photo.png); background-size: 100% 100%;">
            <div class="content">
                <h2>04</h2>
                <h3>PHOTO STUDIO</h3>
                <a href="../../JavaScript For Work/Photo Editor/Photo Editor/my photo editor/index.html">VIEW</a>
            </div>
        </div>
        <div class="card" style="background-image: url(logos/pdf.png); background-size: 100% 100%;">
            <div class="content">
                <h2>05</h2>
                <h3>PDF CONVERTOR</h3>
                <a href="../../JavaScript For Work/html to pdf/index.html">VIEW</a>
            </div>
        </div>
        <div class="card" style="background-image: url(logos/html.png); background-size: 100% 100%;">
            <div class="content">
                <h2>06</h2>
                <h3>HTML MINIFIER</h3>
                <a href="../../JavaScript For Work/Minifier/index.html">VIEW</a>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="vanilla-tilt.js"></script>
    <script>
        VanillaTilt.init(document.querySelectorAll(".card"),{
		max: 25,
		speed: 400,
        glare:true,
        "max-glare":1,
        });
    </script>
</body>
</html>