<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JS For Fun</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../moonlight front page/style.css">

</head>

<body>
    <header>
        <a href="../moonlight front page/index.html" class="logo"><img src="../main logo/mail logo.png"></a>
        <ul>
            <li><a href="../moonlight front page/index.html">home</a></li>
            <li><a href="../square glass card/index.html">JS For Work</a></li>
            <li><a href="../circle glass card/index.html" class="active">JS For Fun</a></li>
        </ul>
    </header>
    <div class="containers container" style="margin-top: 80px;">



        <div class="card" style="background: url(logos/jumping\ ball-01.png); background-size: 100% 100%;">>
            <div class="content">
                <h2>01</h2>
                <h3>JUMP THE BALL</h3>
                <a href="../../JavaScript For Fun/javascript game kaif/game.html">VIEW</a>
            </div>
        </div>
        <div class="card " style="background: url(logos/space\ shooter-01.png); background-size: 100% 100%;">
            <div class="content">
                <h2>02</h2>
                <h3>SPACE SHOOTER</h3>
                <a href="../../JavaScript For Fun/Space Shooter/space shooter.html">VIEW</a>
            </div>
        </div>
        <div class="card" style="background: url(logos/Snake\ mania-01.png); background-size: 100% 100%;">
            <div class="content">
                <h2>03</h2>
                <h3>SNAKE MANIA</h3>
                <a href="../../JavaScript For Fun/SnakeMania/Index.html">VIEW</a>
            </div>
        </div>
        <div class="card" style="background: url(logos/Tic\ tac\ toe-01.png); background-size: 100% 100%;">
            <div class="content">
                <h2>04</h2>
                <h3>TIC TAC TOE</h3>
                <a href="../../JavaScript For Fun/tic tac tale/tic tac tale/index/index.html">VIEW</a>
            </div>
        </div>
        <div class="card" style="background: url(logos/tunuify-01.png); background-size: 100% 100%;">
            <div class="content">
                <h2>05</h2>
                <h3>MUSIC PLAYER</h3>
                <a href="../../JavaScript For Fun/music player/music player.html">VIEW</a>
            </div>
        </div>
        <div class="card" style="background: url(logos/movie\ arc\ logo12.png); background-size: 100% 100%;">
            <div class="content">
                <h2>06</h2>
                <h3>MOVIE ARC</h3>
                <a href="../../JavaScript For Fun/movie   app/index.html">VIEW</a>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="vanilla-tilt.js"></script>
    <script>
        VanillaTilt.init(document.querySelectorAll(".card"), {
            max: 25,
            speed: 400,
            glare: true,
            "max-glare": 1,
        });
    </script>
</body>

</html>